@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;

}

body{
  background-color: #1b1b1b;
}

h1,h4,p,a{
  text-decoration: none;
  color: #fff;
}

ul{
  list-style: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgba(89, 227, 255, 0.875);
  /* color: #222; */
  color: #2e2e2e;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;

}

.btn-light{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

.btn-light:hover{
  background-color: rgb(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;

}